<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".GymOpsApplication"
        android:allowBackup="true"
        android:icon="@drawable/gymops"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gymops"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymManagementSystem">

        <activity android:name=".ui.inventory.InventoryActivity" />
        <activity android:name=".ui.reports.ReportsActivity" />
        <activity android:name=".ui.plan.PlanManagementActivity" />
        <activity android:name=".ui.member.detail.MemberDetailActivity" />
        <activity android:name=".ui.member.addedit.AddEditMemberActivity" />
        <activity android:name=".ui.member.list.MemberListActivity" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
